@charset "UTF-8";
@import url('https://hangeul.pstatic.net/hangeul_static/css/nanum-square-neo.css');

* {
	margin: 0;
  padding: 0;
	font-family: 'san-serif';
	font-size: 12px;
	box-sizing: border-box;
}

header {
  margin-bottom: 30px;
  background-color: #f8f8f8;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block; /* 한 줄에 배치 */
}

nav ul li a {
  display: block; /* 혼자 한 줄 차지 */
  padding: 10px;
  text-decoration: none;
  color: #333;
  font-family: 'NanumSquareNeo';
  font-size: 15px;
}

nav ul li a:hover {
  background-color: #ddd;
}

main {
	display: flex;
	justify-content: center;
	margin: 30px;
}

.calendar {
	width: 1200px;
	margin: 30px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.year-month {
	font-family: 'NanumSquareNeoBold';
	font-size: 25px;
}

.nav {
	display: flex;
	border: 1px solid #c0c0c0;
	border-radius: 5px;
}

.nav-btn {
	width: 28px;
	height: 30px;
	border: none;
	font-size: 18px;
	line-height: 30px;
	background-color: transparent;
	cursor: pointer;
}

.go-today {
	width: 75px;
	border-left: 1px solid #c0c0c0;
	border-right: 1px solid #c0c0c0;
}

.days {
	display: flex;
	margin: 25px 0 10px;
}

.day {
	width: calc(100% / 7);
	text-align: center;
}

.dates {
	display: flex;
	flex-flow: row wrap;
	border-top: 1px solid #c0c0c0;
	border-right: 1px solid #c0c0c0;
}

.date {
	width: calc(100% / 7);
	padding: 15px;
	text-align: right;
	border-bottom: 1px solid #c0c0c0;
	border-left: 1px solid #c0c0c0;
}

.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
	color: #D13E3E;
}

.day:nth-child(7n),
.date:nth-child(7n) {
  color: #396EE2;
}

.other {
	opacity: 0.3;
}

.today {
	position: relative;
	color: black;
}

.today::before {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	width: 30px;
	height: 30px;
	display: block;
	background-color: #c9f06f;
	border-radius: 50%;
	content: '';
}

.input-btn {
	background-color: #f8f8f8;
  color: black;
  font-family: 'NanumSquareNeo';
  font-size: 13px;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 20px;
}

.input-btn:hover {
  background-color: #88C6FC;
}