@charset "UTF-8";
@import url('https://hangeul.pstatic.net/hangeul_static/css/nanum-square-neo.css');

* {
	margin: 0;
  padding: 0;
	font-family: 'san-serif';
	font-size: 12px;
	box-sizing: border-box; /* 박스 크기 기준: 테두리 */
}

header {
	margin-bottom: 50px;
	background-color: #F8F8F8;
}

.top {
	list-style-type: none; /* 불릿 없애기 */
}

.top_menu {
	display: inline-block; /* 한 줄에 배치 */
}

.top_name {
	display: block; /* 혼자 한 줄 차지 */
	padding: 10px;
	text-decoration: none; /* 하이퍼링크 텍스트 밑줄 없애기 */
	color: #333;
	font-family: 'NanumSquareNeo';
	font-size: 15px;
}

.top_name:hover {
	background-color: #ddd;
}

/* 달력 */
.calendar {
	width: 70%;
	margin: 0 auto;
}

.cal_head {
	display: flex; /* 부모 요소에 display: flex를 추가해주면 자식 요소들의 정렬을 제어할 수 있음 */
	justify-content: space-between; /* 양 끝 정렬 */
	align-items: center; /* 세로축 기준 가운데 정렬 */
	font-family: 'NanumSquareNeo';
}

.year-month {
	font-family: 'NanumSquareNeoBold';
	font-size: 25px;
}

.nav {
	display: flex;
	border: 1px solid #c0c0c0;
	border-radius: 5px; /* 테두리 둥글게 */
}

.nav-btn {
	width: 28px;
	height: 30px;
	border: none;
	font-size: 18px;
	line-height: 30px;
	background-color: transparent;
	cursor: pointer;
}

.go-today {
	width: 75px;
	border-left: 1px solid #c0c0c0;
	border-right: 1px solid #c0c0c0;
}

.days {
	display: flex;
	margin: 25px 0 10px;
}

/* 요일 */
.day {
	width: calc(100% / 7);
	text-align: center;
}

/* 날짜 */
.dates {
	display: flex;
	flex-flow: row wrap; /* 부모요소 가로 세로크기 맞춰 section들이 순서대로 하나씩 정렬 */
	border-top: 1px solid #c0c0c0;
	border-right: 1px solid #c0c0c0;
}

.date { /* 날짜를 표시하는 달력의 각 날짜 셀을 선택하는 선택자 */
	width: calc(100% / 7);
	padding: 15px;
	text-align: right;
	border-bottom: 1px solid #c0c0c0;
	border-left: 1px solid #c0c0c0;
}

/* 일요일 */
.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
	color: #D13E3E;
}

/* 토요일 */
.day:nth-child(7n),
.date:nth-child(7n) {
  color: #396EE2;
}

.other {
	opacity: 0.3;
}

.today {
	position: relative; /* 요소 자기 자신을 기준으로 배치 */
	color: black;
}

.today::before {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	width: 30px;
	height: 30px;
	display: block;
	background-color: #c9f06f;
	border-radius: 50%;
	content: '';
}

.input-btn {
	background-color: #f8f8f8;
  color: black;
  font-family: 'NanumSquareNeo';
  font-size: 13px;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 20px;
}

.input-btn:hover {
  background-color: #88C6FC;
}

/* 표 */
.table_container {
	display: flex;
	justify-content: flex-end;
}

.summary_table {
	margin-top: 20px;
	padding: 5px;
	border: thin dotted #a3a7ad;
	color: #333;
}

.avg_sum {
	padding-right: 10px;
}

.carbs {
	padding-left: 10px;
	padding-right: 5px;
}

.protein {
	padding-left: 10px;
	padding-right: 5px;
}

.fat {
	padding-left: 10px;
	padding-right: 5px;
}

.val {
	text-align: right;
}
